body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: red;
=======
>>>>>>> parent of 25f172d (CheckPoint - cgcf2b6077)
=======
  background-color: #ffffff;
>>>>>>> parent of 0806f3a (CheckPoint - cgcf2b6077)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
